.main {
  display: flex;
  flex: 1 1 auto;
}

.flex {
  display: flex;
  flex: 1 1 auto;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
    min-width: 400px;
  }
}

.container{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 8%;
}
