:root{
  --mega-red: #CA1919;
  --bg-dec-color-black: #3B3B59;
  --background: #FFFFFF;
  --bg-dec-color-white: #F9F8FF;
  --text: #453f47;
  --text-gray: #5E5A60;
  --text-white: #FFFFFF;
  --pink: #FFB5B5;
  --border: #CDCDCD;
}
