@mixin randomText($color, $size: 16px, $weight: 400) {
  font: {
    weight: $weight;
    size: $size;
  }
  color: $color;
}

@mixin text700($color, $size: 16px){
  font: {
    weight: 700;
    size: $size;
  }
  color: $color;
}

@mixin text400($color, $size: 16px){
  font: {
    weight: 400;
    size: $size;
  }
  color: $color;
}
