@import "src/assets/style/mixins";

.fast__nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include text700($size: 22px, $color: var(--text));
    margin-bottom: 16px;
  }

  .images {
    display: flex;

    &__item {
      background: var(--mega-red);
      padding: 16px;
      filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.75));

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}

.flex {
  .ClubsBySpecialty {
    max-width: 256px;
    height: fit-content;
    overflow: hidden;
    border: 4px solid var(--mega-red);
    background-color: var(--mega-red);

    img {
      object-position: -190px;
      max-height: 504px;
    }

    &__title {
      text-align: center;
      @include text700($size: 24px, $color: var(--text-white));
      padding: .5em 0;
    }
  }
}
